//page.insert_html :bottom, :blips, :partial => @blip
//page[@blip].visual_effect :highlight
//page[:new_blip].reset 

//$("#blips-notice").html('<div class="flash notice">hello</div>');


/* Add the new comment to the bottom of the comments list */
$("#blips").append("<%= escape_javascript(render(@blip)) %>");

/* Highlight the new comment */
$("#blip_<%= @blip.id %>").effect("highlight", {}, 3000);

/* Reset the comment form */
$("#new_blip")get(0).reset();
page[:new_blip].reset
