<!DOCTYPE html>
<html>
<head>
  <title>Invoicer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
<div id='app_header'>

<a href="/invoices" id = "app_header_option">Factures</a>
<a href="/clients" id = "app_header_option">Clients</a>




</div>


</head>
<body>

<%= yield %>

</body>
</html>
